{% load static %}

/* fonts */
@font-face {
    font-family: 'Grenette Variable Pro';
    font-style: normal;
    font-weight: normal;
    src: url('{% static "/fonts/grenette-variable-proportional-pro.woff2" %}') format('woff2');
}
@font-face {
    font-family: 'Grenette Variable Pro';
    font-style: italic;
    font-weight: normal;
    src: url('{% static "/fonts/grenette-variable-italic-pro.woff2" %}') format('woff2');
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('{% static "/fonts/InterVariable.woff2" %}') format('woff2');
}
@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('{% static "/fonts/InterVariable-Italic.woff2" %}') format('woff2');
}

/* general */
html, body { margin: 0; }
body { font-family: InterVariable, sans-serif; line-height: 1.3; }
a { color: black; }
aside {
    text-align: center;
    padding-top: 24px;
    text-transform: none;
    color: salmon;
}

/* all pages */
section { max-width: 640px; margin: 0 auto 64px; font-size: 20px; }
@media (max-width: 600px) {
    section { font-size: 18px; }
}
section h2 { margin: 64px 0 32px; }
section p, section li, section time { color: #646464; }
section a { color: #646464; }
section a:hover { color: #000; }
#section-title {
    background: #3d6d7544;
    text-align: center;
    padding-top: 168px;
    padding-bottom: 96px;
    margin-bottom: 96px;
}
#section-title h1 { font-size: 48px; }
section blockquote {
    margin: 0;
    padding: 1px 24px;
    border-left: 8px solid #999c;
    background: #d3d3d338;
    line-height: 1.4;
    text-align: left;
}
section blockquote p { padding: 0; }

/* all pages: forms */
form { max-width: 300px; margin: 0 auto; }
label { display: block; margin-bottom: 8px; user-select: none; }
input[type="email"] { box-sizing: border-box; display: block; width: 100%; }
input[type="submit"] {
    cursor: pointer;
    display: block;
    width: 100%;
    background: white;
    border: 1px solid black;
    padding: 8px 0;
}
input[type="submit"]:hover {
    background: black;
    color: white;
}
.errorlist { font-size: 18px; }

/* articles / news / ideas / blog sections */
#articles .article-list-title {
    font-family: 'Grenette Variable Pro';
    margin-bottom: 16px;
    font-size: 32px;
    padding: 0 8px;
}
@media (max-width: 1000px) {
    #articles .article-list-title a { font-size: 28px; }
}
#articles .article-list-title a { color: black; }
#articles h1 { margin-bottom: 8px; }
#articles h2 {
    font-family: InterVariable;
    text-align: left;
    margin: 32px 0 0;
    font-size: 26px;
}
#articles #section-title { margin-bottom: 48px; }

/* headings */
h1 {
    font-family: 'Grenette Variable Pro';
    font-weight: normal;
    font-size: 40px;
    margin: 24px 0;
    line-height: 1.5;
}
@media (max-width: 1000px) {
    h1 { font-size: 34px; }
}
@media (max-width: 700px) {
    h1 { font-size: 30px; }
}

h2 {
    font-family: 'Grenette Variable Pro';
    font-weight: normal;
    font-size: 32px;
    margin: 24px 0;
}
@media (max-width: 1000px) {
    h2 { font-size: 28px; }
}

@media (max-width: 640px) {
    h2 { padding: 0 8px; }
}

@media (max-width: 640px) {
    p { padding: 8px; }
}

/* nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #000000aa;
    text-align: center;
    text-wrap: balance;
    z-index: 10;
    display: flex;
    justify-content: center;
}
nav a { margin: 0 16px; text-decoration: none; color: black; padding: 20px 0; }
nav a:hover { text-decoration: underline; }
@media (max-width: 700px) {
    nav { padding: 8px; border-color: white; }
    nav a { display: inline-block; padding: 8px 0; font-size: 16px; }
}

/* landing hero */
#herocontainer { text-align: center; margin-top: 64px; }
@media (max-width: 1200px) {
    #herocontainer { margin: 32px 0 0 }
}
@media (max-width: 600px) {
    #herocontainer { margin: 0 }
}

#herobg {
    margin: auto;
    padding: 100px 0 160px;
    background: url("{% static '/img/park.png' %}") no-repeat center / contain;
}
@media (max-width: 1600px) {
    #herobg { padding: 0 0 160px; background-size: cover; }
}
@media (max-width: 900px) {
    #herobg { padding: 0 0 80px; }
}
@media (max-width: 800px) {
    #herobg { padding: 0 0 40px; }
}

#heroheader {
    max-width: 700px;
    margin: 132px auto 336px;
}
@media (max-width: 1600px) {
    #heroheader { margin-top: 64px; padding-top: 128px; }
}
#heroheader h1 {
    display: inline;
    padding: 4px 12px;
    background: white;
}
#heroheader-largeletters { display: inline; }
#heroheader-smallletters { display: none; }
@media (max-width: 600px) {
    #heroheader-largeletters { display: none; }
    #heroheader-smallletters { display: inline; }
}

/* landing panel quote */
#panel {
    max-width: 700px;
    margin: 64px auto 0;
    border-left: 8px solid #999c;
    background: #d3d3d338;
}
#panel blockquote {
    font-size: 21px;
    line-height: 1.4;
    text-align: left;
    padding: 8px 0;
}
#panel blockquote p { padding: 0; }
#panel blockquote footer { margin-bottom: 16px; color: #929292; }
@media (max-width: 600px) {
    #panel { margin: 0 auto; }
    #panel blockquote { font-size: 18px; margin: 20px; padding: 1px;}
}

/* landing learning with us section */
#withus { max-width: 640px; margin: 0 auto 64px; font-size: 20px; }
@media (max-width: 600px) {
    #withus { font-size: 18px; }
}
#withus h2 { text-align: center; margin: 64px 32px; }
#withus p { text-align: center; font-size: 22px; }

/* landing cta buttons */
.cta {
    display: inline-block;
    text-decoration: none;
    background: #3D6D75;
    color: white;
    padding: 8px 16px;
    font-size: 22px;
    border: 4px solid #3D6D7575;
    border-radius: 32px;
    line-height: 1.4;
    transition: 0.25s;
}
.cta:hover { background: #3D6D75ee; }
@media (max-width: 700px) {
    .cta { font-size: 20px; }
}
.ctasecondary {
    color: #3D6D75;
    font-size: 18px;
    text-decoration: none;
    background: white;
    padding: 8px 16px;
    border-radius: 32px;
    border: 1px solid #3D6D75;
}

/* landing overview list */
#overview {
    max-width: 640px;
    margin: 0 auto 64px;
}
#overview p {
    font-size: 22px;
    color: #929292;
    margin-bottom: 42px;
}
@media (max-width: 600px) {
    #overview p { font-size: 19px; }
}
#overview span {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

/* landing beginners forever */
#beginners { max-width: 640px; margin: 0 auto 64px; font-size: 20px; }
@media (max-width: 600px) {
    #beginners { font-size: 18px; }
}
#beginners h2 { text-align: center; margin: 64px 32px; }
#beginners p { color: #646464; }

/* landing location section */
#london {
    background: #a2cbbc;
    padding: 64px 0;
    display: flex;
    justify-content: center;
}
@media (max-width: 650px) {
    #london > div { flex-direction: column; }
}
#londontext {
    max-width: 300px;
    text-align: center;
    transform: translateX(8px);
}
@media (max-width: 650px) {
    #londontext { transform: translateY(16px); }
}
#londontext span {
    font-family: 'Grenette Variable Pro';
    font-size: 30px;
    text-decoration: none;
}

/* landing newsletter form */
#newsletter {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 32px 0 48px;
}
#newsletter form { margin: auto; max-width: 448px; }
#newsletter input {
    width: 100%;
    font-size: 18px;
    border: 0;
    padding: 4px 8px;
    margin: 24px 0;
    box-sizing: border-box;
}
@media (max-width: 448px) {
    #newsletter input { width: 80%; margin: 8px auto; }
}

/* values page */
#values { max-width: 800px; margin: 0 auto 64px; font-size: 20px; }
@media (max-width: 800px) {
    #values { padding-right: 8px; font-size: 18px; }
}
@media (max-width: 600px) {
    #values { font-size: 18px; }
}
#values h2 { text-align: center; margin: 64px 32px; }
@media (max-width: 600px) {
    #values h2 { margin: 64px 32px 32px; }
}
.values-item {
    display: flex;
    margin-bottom: 32px;
}
@media (max-width: 600px) {
    .values-item { flex-direction: column; }
}
.values-item-title {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    font-weight: bold;
    margin-right: 32px;
}
@media (max-width: 600px) {
    .values-item-title { width: 100%; margin: 16px 0; text-align: center; }
}
.values-item-description {
    max-width: 600px;
    color: #646464;
}
@media (max-width: 600px) {
    .values-item-description { padding: 8px; text-align: center; }
}

/* courses page */
#courses h2 { margin-bottom: 32px; }

/* footer */
#footer {
    color: #888;
    text-align: center;
    line-height: 1.5;
    padding: 128px 0 32px;
}
