{% extends 'main/layout.html' %}

{% block content %}
<div id="section-title">
    <h1>About</h1>
</div>

<section>
    <h2>Motivation</h2>
    <p>
        In one sentence, we’re interested in a Shoshin College because it’s an
        expression of freedom.
    </p>
    <p>
        Imagine we live in a world of post-scarcity. There is no need to work for
        survival. We have ample food and housing for everyone. What do we do then?
        Life would be pretty boring — if only humanity wasn’t inherently curious
        about everything. How would we learn if we didn’t have to? Maybe many
        wouldn’t but some would definitely be interested in learning just for the
        sake of it. How would they do it? Would they keep the current global
        structure of academia or would they try something new? If so, what would it
        look like?
    </p>
    <p>
        Let’s explore. Let’s think values we value, let’s build processes on top of
        them, and let’s see what happens. Whatever works we can keep; whatever
        doesn’t we can change. Nothing forces us to cling onto old (or new)
        processes. This is in contrast to large established institutions which have
        a lot of inertia on their policies due to past success.
    </p>

    <h2>Inspiration</h2>
    <p>
        The following broadly-incomplete lists of real-world alternative
        learning places and theories (books) inspired everything.
    </p>

    <h3>Learning Places</h3>
    <ul>
        <li>
            <a href="https://fractalnyc.com/university">FractalU</a> in NYC
        </li>
        <li>
            <a href="https://newspeak.house/">Newspeak House</a> in London
        </li>
        <li>
            <a href="https://mimbres.study.garden/">Mimbres School for the Humanities</a> in New Mexico
        </li>
        <li>
            <a href="https://www.recurse.com/">Recurse Center</a> in NYC
        </li>
        <li>
            <a href="https://london.computation.club/">London Computation Club</a>
        </li>
        <li>
            <a href="https://bstn.cc/">Boston Computation Club</a>
        </li>
        <li>
            <a href="https://sfpc.study/">School for Poetic Computation</a> in NYC
        </li>
        <li>
            <a href="https://www.index-space.org/">Index</a> in NYC
        </li>
        <li>
            <a href="https://www.londonsneaker.school/">London Sneaker School</a>
        </li>
        <li>
            <a href="https://www.minerva.edu/">Minerva University</a> in SF
        </li>
        <li>
            <a href="https://www.42network.org/">42</a> in Paris
        </li>
        <li>
            <a href="https://let-me-think.org/">Let Me Think</a> in NYC
        </li>
        <li>
            <a href="https://antiuniversity.org/">Antiuniversity</a> in London
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Antiuniversity_of_London">
                Antiuniversity of London (1968)
            </a>
        </li>
    </ul>

    <h3>Theories</h3>
    <ul>
        <li>
            <a href="https://en.wikipedia.org/wiki/Zen_Mind,_Beginner%27s_Mind">
                Zen Mind, Beginner’s Mind
            </a>
            (1970) by
            <a href="https://en.wikipedia.org/wiki/Shunry%C5%AB_Suzuki">Shunryū Suzuki</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Deschooling_Society">Deschooling Society</a>
            (1971) by
            <a href="https://en.wikipedia.org/wiki/Ivan_Illich">Ivan Illich</a>
        </li>
        <li>
            <a href="https://archive.org/details/freeschools0000unse">Free Schools</a>
            (1972) by
            <a href="https://en.wikipedia.org/wiki/Jonathan_Kozol">Jonathan Kozol</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/The_Ignorant_Schoolmaster">
                The Ignorant Schoolmaster
            </a>
            (1987) by
            <a href="https://en.wikipedia.org/wiki/Jacques_Ranci%C3%A8re">Jacques Rancière</a>
        </li>
    </ul>
</section>

{% endblock %}
