{% extends 'main/layout.html' %}

{% block content %}
<div id="section-title">
    <h1>Course Archive</h1>
</div>

<section id="courses">
    {% for course in course_list %}
    <h2>
        <a href="{% url 'course_detail' course.slug %}">
            {{ course.title }} [{{ course.semester_key_display }} Semester]
        </a>
    </h2>
    <p style="color: grey;">
        Course dates: {{ course.occured_at|date:"F Y" }}
    </p>
    <div>
        {{ course.overview_as_html|safe }}
    </div>
    <div style="display: block;">
        <a href="{% url 'course_detail' course.slug %}" class="btn">Course Details »</a>
    </div>
    {% endfor %}
</section>
{% endblock content %}
