{% extends 'main/layout.html' %}

{% block content %}
<div id="section-title">
    <h1>News</h1>
</div>

<section id="articles">

    {% for article in article_list %}

    <div style="margin-bottom: 32px;">

        <div style="margin-top: 48px; padding: 0 8px;">
            <small>
                <time datetime="{{ article.published_at|date:'Y-m-d' }}">
                    {{ article.published_at|date:'F j, Y' }}
                </time>

                {% if request.user.is_authenticated and request.user.is_superuser %}
                | <a href="{% url 'admin:main_article_change' article.id %}">Edit article</a>
                {% endif %}
            </small>
        </div>

        <div class="article-list-title">
            <a href="{% url 'news_detail' article.slug %}">
                {{ article.title }}
            </a>
        </div>

    </div>

    {% empty %}

    <em>(no articles)</em>
    {% endfor %}

</section>
{% endblock content %}
