{% extends 'main/layout.html' %}

{% block content %}
<div id="section-title">
    <h1>Classes</h1>
</div>

<section>
    <p>
        We have a variety of courses scheduled for this fall. Here are some of those in
        the works:
    </p>
    <ul>
        <li>Ceramics</li>
        <li>Complexity Science</li>
        <li>Flexibility</li>
        <li>Graphic Design</li>
        <li>Introduction to Meditation</li>
        <li>Introduction to Psychology</li>
        <li>Kubernetes</li>
        <li>Personal Finance</li>
        <li>Philosophy of Science</li>
        <li>SQL 101</li>
        <li>Theories of Democracy</li>
        <li>Yoga</li>
    </ul>
    <p>
        Each course will have 3 sessions, once a week. Each course will cost between
        £30 and £50.
    </p>
    <p>
        <a href="https://shoshincollege.substack.com/">Sign up for our newsletter</a>
        on Substack to receive updates when we launch our courses in July and August.
    </p>
    <p>
        Are you interested in teaching a course? Get in touch
        <a href="mailto:classes@shoshincollege.org">classes@shoshincollege.org</a>
    </p>
</section>
{% endblock %}
