{% extends 'main/layout.html' %}

{% block content %}
<div id="section-title">
    <h1>Courses</h1>
</div>

<section id="courses">
    <p>
        These are our courses for the Fall 2025 semester. They will take place in
        September through November. See each one for details on content and location.
        All of them are 3 sessions over 3 weekdays.
    </p>

    {% for course in course_list %}
    <h2>
        <a href="{% url 'course_detail' course.slug %}">
            {{ course.title }}
        </a>
    </h2>
    <div style="color: grey;">
        Course dates: {{ course.occured_at|date:"F Y" }}
    </div>
    <div>
        {{ course.overview_as_html|safe }}
    </div>
    <div>
        <a href="{% url 'course_detail' course.slug %}" class="btn">Course Details »</a>
    </div>
    {% endfor %}

    <h2>Past Semesters</h2>
    <p>
        See our <a href="{% url 'archive' %}">Archive</a>.
    </p>
</section>
{% endblock content %}
