{% extends 'main/layout.html' %}

{% block content %}
<div id="section-title">
    <h1>Courses</h1>
</div>

<section>
    <p>
        Our first courses will begin in October 2024.
    </p>
    <ul>
        <li>Applications due September 20th 2024</li>
        <li>3 sessions per course</li>
        <li>Each course costs £35</li>
        <li>Classes take place in October 2024 (weekday evenings)</li>
        <li>Location in central/east London</li>
    </ul>
    <p>
        We hope they spark your interest!
    </p>

    <h2>Chaos Theory</h2>
    <p>
        October 2024
    </p>
    <p>
        Chaos is not randomness. It is a break in the link between cause and effect.
        When effect cannot be tidily traced back to a singular cause, predicting the
        future becomes challenging. Assuming rational economic agents driving human
        nature, and abstracting from unpredictable and irrational behaviour has left
        gaping areas for research.
    </p>
    <p>
        A growing body of research suggests that economic, political, and psychological
        systems are governed by nonlinear dynamics of complex systems.
    </p>
    <p>
        In this course, we will dive into a successful problem-solving approach for
        chaotic systems - the theories of nonlinear complexity systems. These theories
        have enabled natural scientists to make leaps forward in quantum physics,
        computational biology, and meteorology.
    </p>
    <p>
        <strong>Session Dates</strong>
    </p>
    <p>
        Session 1: Wed 16 Oct 2024, 7pm
        <br><em>Chaos in action</em>
    </p>
    <p>
        Session 2: Wed 23 Oct 2024, 7pm
        <br><em>Chaos in thought</em>
    </p>
    <p>
        Session 3: Wed 30 Oct 2024, 7pm
        <br><em>Chaos in society</em>
    </p>
    <p style="font-weight: 700;">
        Sign up here:
        <a href="https://lu.ma/kabgzt8z">https://lu.ma/kabgzt8z</a>
    </p>

    <h2>Theories of Democracy</h2>
    <p>
        October 2024
    </p>
    <p>
        Democracy is an extremely saturated word. Different people meant different
        things. Democracy in ancient Athens was completely different than today yet we
        use the same word to refer to both these things. Conservatives, leftists,
        liberals, anarchists, communists; they all talk about democracy yet they usually
        mean different things. Join us in a deep yet short dive into all the different
        theories of democracy and how each one compares to the rest.
    </p>
    <p>
        <strong>Session Dates</strong>
    </p>
    <p>
        Session 1: Tue 15 Oct 2024, 6.30pm
        <br><em>Democracy in ancient Athens</em>
    </p>
    <p>
        Session 2: Tue 22 Oct 2024, 6.30pm
        <br><em>Democracy during the French and American Revolutions</em>
    </p>
    <p>
        Session 3: Tue 29 Oct 2024, 6.30pm
        <br><em>Democracy in the 21st century</em>
    </p>
    <p style="font-weight: 700;">
        Sign up here:
        <a href="https://lu.ma/1pid0ow9">https://lu.ma/1pid0ow9</a>
    </p>

    <h2>Upcoming Courses</h2>
    <p>
        <a href="https://shoshincollege.substack.com/">Sign up for our newsletter</a>
        on Substack to receive updates when we launch the rest of our courses for this
        Fall.
    </p>
    <p>
        Are you interested in teaching a course? Get in touch
        <a href="mailto:classes@shoshincollege.org">classes@shoshincollege.org</a>
    </p>
</section>
{% endblock %}
