{% extends 'main/layout.html' %}

{% block content %}
<div id="section-title">
    <h1>Courses</h1>
</div>

<section id="courses">
    <p>
        Our first courses will begin in October 2024.
    </p>
    <ul>
        <li>3 sessions per course</li>
        <li>Each course costs £35</li>
        <li>Classes take place in October-December 2024 (weekday evenings)</li>
        <li>Location in central/east London</li>
    </ul>
    <p>
        We hope they spark your interest!
    </p>
    <p>
        Applications at the luma platform: <a href="https://lu.ma/shoshincollege">https://lu.ma/shoshincollege</a>
    </p>

    <h2>Human-Centered Design & Technology</h2>
    <p>
        <em>Part of Fall 2024 Semester</em>
    </p>
    <p>
        This course invites participants to reimagine the role of technology through the
        lens of Human-Centered Design. Over three sessions, we will explore how ethical
        principles, intersectionality, and sustainability can be integrated into how we
        design and build things. Drawing from frameworks like Design Justice, Plurality,
        and Human-Centered Design, we will explore  how technology can be more inclusive
        and equitable, for humans and for the planet.
    </p>
    <p>
        <strong>Session Dates TBD</strong>
    </p>
    <p>
        Session 1:
        <br><em>Foundations of Human-Centered Design</em>
        <ul>
            <li>What is Human-Centered Design</li>
            <li>How it differs from other approaches in design</li>
            <li>HCD methods overview</li>
            <li>Designing for context</li>
        </ul>
    </p>
    <p>
        Session 2:
        <br><em>Intersectionality and Ethical Design</em>
        <ul>
            <li>Soft introduction to Intersectionality & Introduction to Intersectionality in Design</li>
            <li>What do we mean by "Ethical Design"?</li>
            <li>Bias and Power Dynamics in Technology</li>
            <li>Designing for Privacy and Consent</li>
        </ul>
    </p>
    <p>
        Session 3:
        <br><em>Design Justice & Pluralism</em>
        <ul>
            <li>Principles of Design Justice</li>
            <li>Pluralism in Design</li>
        </ul>
    </p>

    <h2>Theories of Democracy</h2>
    <p>
        <em>Part of Fall 2024 Semester</em>
    </p>
    <p>
        Democracy is an extremely saturated word. Different people meant different
        things. Democracy in ancient Athens was completely different than today yet we
        use the same word to refer to both these things. Conservatives, leftists,
        liberals, anarchists, communists; they all talk about democracy yet they usually
        mean different things. Join us in a deep yet short dive into all the different
        theories of democracy and how each one compares to the rest.
    </p>
    <p>
        <strong>Session Dates</strong>
    </p>
    <p>
        Session 1: Tue 15 Oct 2024, 6.30pm
        <br><em>Democracy in ancient Athens</em>
    </p>
    <p>
        Session 2: Tue 22 Oct 2024, 6.30pm
        <br><em>Democracy during the French and American Revolutions</em>
    </p>
    <p>
        Session 3: Tue 29 Oct 2024, 6.30pm
        <br><em>Democracy in the 21st century</em>
    </p>
    <p style="font-weight: 700;">
        Sign up here:
        <a href="https://lu.ma/1pid0ow9">https://lu.ma/1pid0ow9</a>
    </p>

    <h2>Yoga & Meditations</h2>
    <p>
        <em>Part of Fall 2024 Semester</em>
    </p>
    <p>
        This course provides an overview of the yoga discipline, integrating lessons on
        the core principles of the yoga philosophy, and offering gentle asana, breath
        work and meditation practice. The course will be organised into three sessions
        that will cover different aspects of yoga.
    </p>
    <p>
        <strong>Session Dates TBD</strong>
    </p>
    <p>
        Session 1:
    </p>
    <p>
        In the first session, we will introduce the eight limbs of yoga, focusing on the
        ‘yamas’ and ‘nyamas’ also known as the moral codes and personal observances
        respectively. We will discuss how to integrate these principles in our daily
        life, to foster self love and compassion towards others. The session will
        conclude with a guided meditation and restorative yoga practice.
    </p>
    <p>
        Session 2:
    </p>
    <p>
        In the second session, we will introduce the importance of breath in balancing
        our nervous system and how breath is essential for grounding ourselves and
        practicing the yoga poses, or asanas. We will explore two different breath work
        techniques - or pranayama - and we will discuss the advantages of each of those.
    </p>
    <p>
        Session 3:
    </p>
    <p>
        In the third and last session, we will indulge in a complete asana practice. We
        will practice a vinyasa flow, moving from different postures. Attention will be
        directed towards our breath throughout the practice, and a short meditation
        practice will follow to ensure that our mind and our body are connected to each
        other.
    </p>

    <h2>Upcoming Courses</h2>
    <p>
        <a href="https://shoshincollege.substack.com/">Sign up for our newsletter</a>
        on Substack to receive updates when we launch the rest of our courses for this
        Fall.
    </p>
    <p>
        Are you interested in teaching a course? Get in touch
        <a href="mailto:classes@shoshincollege.org">classes@shoshincollege.org</a>
    </p>
</section>
{% endblock %}
