{% extends 'main/layout.html' %}

{% block content %}
<div id="section-title">
    <h1>Courses Spring 2025</h1>
</div>

<section id="courses">
    <p>
        Our Spring 2025 semester begins in February.
    </p>
    <ul>
        <li>3 sessions per course</li>
        <li>Each course will cost £35 to £50</li>
        <li>Classes take place between February and April 2025 (weekday evenings)</li>
        <li>Location in central/east London</li>
    </ul>
    <p>
        We hope they spark your interest!
    </p>
    <p>
        Applications will open on luma:
        <a href="https://lu.ma/shoshincollege">https://lu.ma/shoshincollege</a>
    </p>

    <h2>Chaos Theory</h2>
    <p>
        <em>Part of Spring 2025 Semester. Registrations open in January 2025.</em>
    </p>
    <p>
        Chaos is not randomness. It is a break in the link between cause and effect.
        When effect cannot be tidily traced back to a singular cause, predicting the
        future becomes challenging. Assuming rational economic agents driving human
        nature, and abstracting from unpredictable and irrational behaviour has left
        gaping areas for research.
    </p>

    <h2>The Science of Creativity</h2>
    <p>
        <em>Part of Spring 2025 Semester. Registrations open in January 2025.</em>
    </p>
    <p>
        This course provides a comprehensive overview of past and current research on
        creative thinking. The sessions will cover theories of creativity and the
        behavioural and neural basis of creativity. Finally, each session will provide
        empirically grounded suggestions on how to stimulate your own creative thinking.
    </p>

    <h2>Personal Finance</h2>
    <p>
        <em>Part of Spring 2025 Semester. Registrations open in January 2025.</em>
    </p>

    <h2>Philosophy of Science</h2>
    <p>
        <em>Part of Spring 2025 Semester. Registrations open in January 2025.</em>
    </p>

    <h2>Upcoming Courses</h2>
    <p>
        <a href="https://shoshincollege.substack.com/">Sign up to our newsletter</a>
        on Substack to receive updates on when we open registration for courses
        and announce new ones.
    </p>
    <p>
        Are you interested in teaching a course? Get in touch
        <a href="mailto:classes@shoshincollege.org">classes@shoshincollege.org</a>
    </p>

    <h2>Past Courses</h2>
    <p>
        See our <a href="{% url 'archive' %}">Archive</a>.
    </p>
</section>
{% endblock content %}
