{% extends 'main/layout.html' %}

{% block content %}
<div id="section-title">
    <h1>Expectations</h1>
</div>

<section>
    <p>
        Clear communication is conducive to great collaboration. With that in mind, we
        want to set our expectations clearly to those who trust us with their time.
    </p>
    <p style="font-weight: bold;">
        Here is what is expected by you as a student, in case you decide to sign up
        to one of our courses.
    </p>

    <ol>
        <li style="margin-bottom: 16px;">
            Take this course seriously. You have decided to spend some time learning
            something new. With learning, the more focused one is, the better the
            outcome they will have. During the two-hour session, try not to be
            distracted by anything else. Make it easier for yourself: hide all
            distractions, mute all notifications, stop all background processes — both
            on your computer and in your mind.
        </li>
        <li style="margin-bottom: 16px;">
            We want to foster a place that's full of life, a vibrant and vivid space with
            challenging ideas and hard problems. Chase relevant thoughts and dive deep.
            Maybe consider each session a sprint: that's the time to run. At the same
            time be careful not to overstep others' boundaries. Observe that all feel
            comfortable to participate, to speak, even those who communicate softly,
            slow, or with long pauses.
        </li>
        <li style="margin-bottom: 16px;">
            Prepare for each session. Read, understand, develop your perspective on the
            matter at hand.
        </li>
        <li style="margin-bottom: 16px;">
            Engage with the course material. Engage with your peers. Try to understand
            their perspective deeply. Challenge their ideas so that they do the same.
            Do it in the way you'd like it done to you.
        </li>
        <li style="margin-bottom: 16px;">
            Dare to be uncomfortable and wrong. Hard-to-acquire knowledge is hard to
            get right with the first try; but for this reason it is also much more
            valuable.
        </li>
        <li style="margin-bottom: 16px;">
            Give both positive and negative feedback. Provide the feedback you would
            have liked to receive, using the kindest approach you wish someone had taken
            with you.
        </li>
        <li style="margin-bottom: 16px;">
            Don't forget: it’s the beginner’s mind that enables learning; not the expert’s.
        </li>
    </ol>
</section>
{% endblock content %}
