{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<div id="herocontainer">

    <div id="hero">
        <div id="hero-header">
            <h1 style="display: inline; background: #FFFFFFee; padding: 8px 12px;">
                Shoshin College is an experimental learning co&#8209;operative
            </h1>
        </div>

        <div id="panel">
            <blockquote>
                <p>
                    In the beginner’s mind there is no thought, “I have attained
                    something.” All self-centered thoughts  limit our vast mind.
                    When we have no thought of achievement, no thought  of self, we
                    are true beginners. Then we can really learn something.
                </p>
                <footer style="margin-bottom: 16px;">
                    —Shunryū Suzuki,
                    <cite>Zen Mind, Beginner's Mind</cite>
                </footer>
            </blockquote>
        </div>
    </div>

</div>

<div id="overview">
    <h2 style="text-align: center; margin-bottom: 32px;">
        Let’s Learn Together
    </h2>
    <p>
        Shoshin College is an experimental learning co-operative operation
        that’s positioning itself outside of the existing way of how learning
        and teaching works.
    </p>

    <p>
        We aim to <span style="background: #DC141444;">universal</span>. We
        embrace all domains and disciplines and invite everyone to teach and
        learn, regardless of background.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">inclusive</span>. We
        believe in high quality work but we also believe that anyone can do high
        quality work. We do not exclude people because of the quality of their
        work. We include them as we want them to improve their work.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">in-person</span>.
        There is tons of online learning material.  What’s missing is humane
        interactions in a community of people.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">ever-fluctuating</span>.
        We embrace iteration and invite impermanence. Experimentation and iteration.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">unaccredited</span>
        and non-degree-granting. Accredited institutions are great, they are
        doing their thing. We are trying something new and in order to explore
        it, we need not be tied down by the existing ways of how learning works
        today.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">high quality</span>.
        We could succeed in starting a learning institution but what’s
        interesting is to make it high quality and more importantly: higher
        quality than the current way of learning institutions.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">low-cost</span>.
        Wealth inequality contributes to a decreasing average quality of life
        for the Western resident. We are not interested in adding to this.
    </p>
</div>

<div id="london">
    <div style="display: flex;">
        <div>
            <img src="{% static '/img/ben.svg' %}" alt="london landmark" width="300px">
        </div>
        <div style="display: flex; align-items: center;">
            <div id="londontext">
                We offer in-person classes in London
            </div>
        </div>
    </div>
</div>
{% endblock %}
