{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<div id="herocontainer">
    <div id="herobg">
        <div id="heroheader">
            <h1>
                Shoshin College is an
                <span id="heroheader-largeletters">
                    experimental&nbsp; &nbsp;learning
                </span>
                <span id="heroheader-smallletters">
                    experimental learning
                </span>
                co&#8209;operative
            </h1>
            <div style="margin-top: 64px;">
                <a target="_blank" href="https://shoshincollege.notion.site/Classes-Fall-2024-72c20e12164e4f13b4c3d6182fe74f0d" class="cta">See our Fall 2024 Courses »</a>
            </div>
        </div>
    </div>
</div>

<div id="panel">
    <blockquote>
        <p>
            In the beginner’s mind there is no thought, “I have attained
            something.” All self-centered thoughts  limit our vast mind.
            When we have no thought of achievement, no thought  of self, we
            are true beginners. Then we can really learn something.
        </p>
        <footer>
            —Shunryū Suzuki,
            <cite>Zen Mind, Beginner's Mind</cite>
        </footer>
    </blockquote>
</div>

<div style="margin: 96px auto; width: 300px; border-top: 1px solid #BFBFBF">
</div>

<div id="withus">
    <h2>
        Learning With Us
    </h2>
    <p>
        Shoshin College is an experimental learning co-operative operation
        that’s positioning itself outside of the existing way of how learning
        and teaching works.
    </p>
</div>

<div id="overview">
    <p>
        <span>Universal</span>. We embrace all domains and disciplines and
        invite everyone to teach and learn, regardless of background.
    </p>

    <p>
        <span>Inclusive</span>. We believe in high quality work but we also
        believe that anyone can do high quality work. We do not exclude people
        because of the quality of their work. We include them as we want them
        to improve their work.
    </p>

    <p>
        <span>In-person</span>. There is tons of online learning material.
        What’s missing is humane interactions in a community of people.
    </p>

    <p>
        <span>Ever-fluctuating</span>. We embrace iteration and invite
        impermanence. Experimentation and iteration.
    </p>

    <p>
        <span>Unaccredited</span>. Accredited institutions are great, they are
        doing their thing. We are trying something new and in order to explore
        it, we need not be tied down by the existing ways of how learning works
        today.
    </p>

    <p>
        <span>High quality</span>. We could succeed in starting a learning
        institution but what’s interesting is to make it high quality and more
        importantly: higher quality than the current way of learning
        institutions.
    </p>

    <p>
        <span>Low-cost</span>. Wealth inequality contributes to a decreasing
        average quality of life for the Western resident. We are not interested
        in adding to this.
    </p>
</div>

<div id="london">
    <div style="display: flex;">
        <div>
            <img src="{% static '/img/ben.svg' %}" alt="london landmark" width="300px">
        </div>
        <div style="display: flex; align-items: center;">
            <div id="londontext">
                <a target="_blank" href="https://shoshincollege.notion.site/Classes-Fall-2024-72c20e12164e4f13b4c3d6182fe74f0d">We offer in-person classes in London</a>
            </div>
        </div>
    </div>
</div>

<div id="beginners">
    <h2>
        Beginners Forever
    </h2>
    <p>
        <strong style="color: black;">Shoshin</strong> is the concept of <em>beginner's mind</em> in
        Zen Buddhism. A beginner’s mind is open to all possibilities and
        thus capable of better learning. In the beginner’s mind there is no
        sense of internal achievement. Instead, there is curiosity to
        understand. In the beginner’s mind there is no judgement: there is no
        preconception of how things should be — thus there can be no judgement.
    </p>
    <p>
        The book that introduced this concept to the West is <em>Zen Mind, Beginner's Mind</em>,
        written in 1970 by
        Shunryū Suzuki, the founder of San Francisco Zen Center and a key figure
        in Western Buddhism.
    </p>
    <p>
        The concept of shoshin — beginner’s mind — is the foundation of Shoshin College.
    </p>
    <div style="text-align: center; margin-top: 48px;">
        <a target="_blank" href="https://shoshincollege.notion.site/Classes-Fall-2024-72c20e12164e4f13b4c3d6182fe74f0d" class="cta">See our Fall 2024 Courses »</a>
    </div>
</div>

<div id="newsletter">
    <h2>Stay In Touch</h2>
    <form method="post">
        {% csrf_token %}
        <input type="email" title="email" placeholder="email">
    </form>
</div>

<div id="values">
    <h2>
        Our Values
    </h2>

    <div class="values-item">
        <div class="values-item-title">Inclusivity</div>
        <div class="values-item-description">
            Even if our new college has a specific location that not everyone
            can attend or a fee that not everyone can pay, we still aim to be
            inclusive and welcome as many people as possible.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Craftsmanship</div>
        <div class="values-item-description">
            We are fascinated by craft, by art, by high aesthetics and high
            quality. We aim to become better at what we do. We don't expect us
            to already be good, only to want to become better.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Playfulness</div>
        <div class="values-item-description">
            It might seem that seriousness is fundamental to high quality work
            and learning but I'm certain the opposite is true.  Playfulness and
            humour is not only how we can laugh at ourselves and notice (and
            accept) our unavoidable defects but it is also how we can just have
            fun!
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Generosity</div>
        <div class="values-item-description">
            Deals and transactions are the fair way to work. Alas, they are also
            boring exchanges that make sure everybody's egos are respected. We
            value and deeply utilise fair exchanges in how we work.  But the
            unexpected joy of a gift is superior.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Democracy</div>
        <div class="values-item-description">
            We aspire for democratic principles in governance, administration,
            organisation. We value consent and consensus and we disallow
            ourselves from taking actions that will cause pain to someone. We
            also aspire for democracy in the frame of knowledge. We have no
            interest in a teacher providing an expert's absolution on matters.
            Instead: may there be debate amongst everyone, one which results in
            everyone understanding the other’s position.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Exploration</div>
        <div class="values-item-description">
            What's the point of a learning institution
            unless we are curious to explore the unknown? Whether it's unknown to us or
            to everyone is irrelevant.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Community</div>
        <div class="values-item-description">
            Being together, learning together, collaborating together,
            celebrating together. We know we can do a lot alone; we are excited
            for what we can do collectively. We know we can make things for
            ourselves; we are excited to make things for everyone — in the
            service of the advancement of the commons.
        </div>
    </div>

    <div style="text-align: center; margin-top: 48px;">
        <a target="_blank" href="https://shoshincollege.notion.site/Classes-Fall-2024-72c20e12164e4f13b4c3d6182fe74f0d" class="cta">See our Fall 2024 Courses »</a>
    </div>
</div>

<footer id="footer">
    <img src="{% static '/img/logo.png' %}" alt="logo" width="148px">

    <div style="font-family: sans-serif; transform: rotate(180deg); font-size: 20px; line-height: 1.2;">©</div>

    Shoshin College
    <br>London, UK
    <br>No Rights Reserved
    <br>CC0 1.0 Public Domain Dedication
    <br><a style="color: #888;" href="https://github.com/shoshincollege/shoshincollege.org">Source Code</a>
</footer>
{% endblock %}
