{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<div id="herocontainer">

    <div id="hero">
        <div id="hero-header">
            <h1 style="display: inline; background: #FFFFFFee; padding: 8px 12px;">
                Shoshin College is an experimental learning co&#8209;operative
            </h1>
        </div>

        <div id="panel">
            <blockquote>
                <p>
                    In the beginner’s mind there is no thought, “I have attained
                    something.” All self-centered thoughts  limit our vast mind.
                    When we have no thought of achievement, no thought  of self, we
                    are true beginners. Then we can really learn something.
                </p>
                <footer style="margin-bottom: 16px;">
                    —Shunryū Suzuki,
                    <cite>Zen Mind, Beginner's Mind</cite>
                </footer>
            </blockquote>
        </div>
    </div>

</div>

<section>
    <h2>
        Let’s Learn Together
    </h2>
    <p>
        Shoshin College is an experimental learning co-operative operation
        that’s positioning itself outside of the existing way of how learning
        and teaching works.
    </p>

    <p>
        We aim to <span style="background: #DC141444;">universal</span>. We
        embrace all domains and disciplines and invite everyone to teach and
        learn, regardless of background.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">inclusive</span>. We
        believe in high quality work but we also believe that anyone can do high
        quality work. We do not exclude people because of the quality of their
        work. We include them as we want them to improve their work.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">in-person</span>.
        There is tons of online learning material.  What’s missing is humane
        interactions in a community of people.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">ever-fluctuating</span>.
        We embrace iteration and invite impermanence. Experimentation and iteration.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">unaccredited</span>
        and non-degree-granting. Accredited institutions are great, they are
        doing their thing. We are trying something new and in order to explore
        it, we need not be tied down by the existing ways of how learning works
        today.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">high quality</span>.
        We could succeed in starting a learning institution but what’s
        interesting is to make it high quality and more importantly: higher
        quality than the current way of learning institutions.
    </p>

    <p>
        We aim to be <span style="background: #DC141444;">low-cost</span>.
        Wealth inequality contributes to a decreasing average quality of life
        for the Western resident. We are not interested in adding to this.
    </p>
</section>

<div id="london">
    <div style="display: flex;">
        <div>
            <img src="{% static '/img/ben.svg' %}" alt="london landmark" width="300px">
        </div>
        <div style="display: flex; align-items: center;">
            <div id="londontext">
                We offer in-person classes in London
            </div>
        </div>
    </div>
</div>

<section>
    <h2>
        Beginners Forever
    </h2>
    <p>
        In 1970, <em>Zen Mind, Beginner's Mind</em>, a book by Shunryū Suzuki was
        published. Shunryū Suzuki was a monk who popularised Zen Buddhism in
        the United States. He’s the founder of the San Francisco Zen Center,
        one of the most influential Zen organisations in the West.
    </p>
    <p>
        In this book he speaks about the concept of the beginner’s mind,
        <strong>shoshin</strong>. He says the beginner’s mind is open to all possibilities and
        thus capable of better learning. In the beginner’s mind there is no
        sense of internal achievement. Instead, there is curiosity to
        understand. In the beginner’s mind there is no judgement; there is no
        preconception of how things should be — thus there can be no judgement.
    </p>
    <p>
        This concept is the foundation of Shoshin College.
    </p>
</section>

<div style="background: #DC141444; text-align: center; padding: 32px 0;">
    <h2>Stay In Touch</h2>
</div>

<section>
    <h2>
        Our Values
    </h2>
    <p>
        <strong>Inclusivity.</strong> Even if our new college has a specific
        location that not everyone can attend or a fee that not everyone can
        pay, we still aim to be inclusive and welcome as many people as
        possible.
    </p>

    <p>
        <strong>Craftsmanship.</strong> We are fascinated by craft, by art, by
        high aesthetics and high quality. We aim to become better at what we
        do. We don't expect us to already be good, only to want to become
        better.
    </p>

    <p>
        <strong>Playfulness.</strong> It might seem that seriousness is fundamental
        to high quality work and learning but I'm certain the opposite is true.
        Playfulness and humour is not only how we can laugh at ourselves and notice
        (and accept) our unavoidable defects but it is also how we can just have
        fun!
    </p>

    <p>
        <strong>Generosity.</strong> Deals and transactions are the fair way to
        work. Alas, they are also boring exchanges that make sure everybody's egos
        are respected. We value and deeply utilise fair exchanges in how we work.
        But the unexpected joy of a gift is superior.
    </p>

    <p>
        <strong>Democracy.</strong> We aspire for democratic principles in
        governance, administration, organisation. We value consent and consensus
        and we disallow ourselves from taking actions that will cause pain to
        someone. We also aspire for democracy in the frame of knowledge. We have no
        interest in a teacher providing an expert's absolution on matters. Instead:
        may there be debate amongst everyone, one which results in everyone
        understanding the other’s position.
    </p>

    <p>
        <strong>Exploration.</strong> What's the point of a learning institution
        unless we are curious to explore the unknown? Whether it's unknown to us or
        to everyone is irrelevant.
    </p>

    <p>
        <strong>Community.</strong> Being together, learning together,
        collaborating together, celebrating together. We know we can do a lot
        alone; we are excited for what we can do collectively. We know we can
        make things for ourselves; we are excited to make things for everyone —
        in the service of the advancement of the commons.
    </p>
</section>

<footer style="background: #FFFACFcc; color: #888; text-align: center; font-size: 22px; line-height: 1.5; padding: 64px 0;">
    <div>🄯</div>
    Shoshin College
    <br>London, UK
    <br>No Rights Reserved
    <br>CC0 1.0 Public Domain Dedication
</footer>
{% endblock %}
