{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Shoshin College</title>
        <meta name="description" content="Independent experimental school in London, UK.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'assets/favicon.html' %}
        <style>
            {% include 'assets/style.css' %}
        </style>
    </head>

    <body>
        <nav>
            <a href="{% url 'index' %}" style="padding: 0; align-self: center;">
                <img src="{% static '/img/logo.png' %}" alt="logo" width="42px" height="42px">
            </a>
            <a href="{% url 'courses' %}">Courses</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'philosophy' %}">Philosophy</a>
            <a href="{% url 'conduct' %}">Conduct</a>
            <a href="{% url 'news_list' %}">News</a>

            {% if messages %}
            <aside>
                {% for message in messages %}
                <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
                {% endfor %}
            </aside>
            {% endif %}
        </nav>

        {% block content %}
        {% endblock content %}
    </body>
</html>
