{% extends 'main/layout.html' %}

{% block content %}
<div id="section-title">
    <h1>Philosophy</h1>
</div>

<div id="values">
    <h2>Our Guiding Principles</h2>

    <div class="values-item">
        <div class="values-item-title">Inclusivity</div>
        <div class="values-item-description">
            Even if our new college has a specific location that not everyone
            can attend or a fee that not everyone can pay, we still aim to be
            inclusive and welcome as many people as possible.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Craftsmanship</div>
        <div class="values-item-description">
            We are fascinated by craft, by art, by high aesthetics, and high
            quality. We aim to become better at what we do. We don’t expect us
            to already be good, only to want to become better.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Playfulness</div>
        <div class="values-item-description">
            It might seem that seriousness is fundamental to high quality work
            and learning but it might be the opposite that’s true.  Playfulness
            and humour is not only how we can laugh at ourselves and notice
            (and accept) our unavoidable defects but it is also how we can just
            have fun.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Generosity</div>
        <div class="values-item-description">
            Deals and transactions are a fair way to work by making sure
            everybody is respected. We value and deeply utilise fair exchanges
            in how we work.  But, many times, the unexpected joy of a gift
            feels superior.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Democracy</div>
        <div class="values-item-description">
            We aspire for democratic principles in governance, administration,
            organisation. We value consent and consensus and we disallow
            ourselves from taking actions that will cause pain to someone. We
            also aspire for democracy in the frame of knowledge. We have no
            interest in a teacher providing an expert’s final judgement on
            matters.  Instead: may there be debate amongst everyone, one which
            results in everyone understanding the other’s position.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Exploration</div>
        <div class="values-item-description">
            What’s the point of a learning institution unless we are curious to
            explore the unknown? Whether it’s unknown to us or to everyone is
            irrelevant.
        </div>
    </div>

    <div class="values-item">
        <div class="values-item-title">Community</div>
        <div class="values-item-description">
            Being together, learning together, collaborating together,
            celebrating together. We know we can do a lot alone; we are excited
            for what we can do collectively. We know we can make things for
            ourselves; we are excited to make things for everyone — in the
            service of the advancement of the commons.
        </div>
    </div>
</div>

<section>
    <h2 style="text-align: center; margin: 64px 32px;">Articles</h2>
    <p>
        Some of our articles that further describe our philosophy:
    </p>
    <p>
        How can we include everybody if we only want to have the best?
        <a href="https://shoshincollege.substack.com/p/meritocracy-and-inclusion" style="font-weight: bold;">
            Meritocracy and Inclusion
        </a>
    </p>
    <p>
        Grading is a controversial topic in education. Let’s briefly explore the two sides:
        <a href="https://shoshincollege.substack.com/p/on-grades" style="font-weight: bold;">
            On Grades
        </a>
    </p>
    <p>
        Why don’t we offer our classes for free?
        <a href="https://shoshincollege.substack.com/p/on-tuition-fees-and-free-courses" style="font-weight: bold;">
            On tuition fees and free courses
        </a>
    </p>
    <p>
        Nothing that grows follows a linear path. Learning doesn't either:
        <a href="https://shoshincollege.substack.com/p/expansion-and-contraction" style="font-weight: bold;">
            Expansion and Contraction
        </a>
    </p>
</section>

<div id="panel">
    <blockquote>
        <p>
            In the beginner’s mind there is no thought, “I have attained
            something.” All self-centered thoughts  limit our vast mind.
            When we have no thought of achievement, no thought  of self, we
            are true beginners. Then we can really learn something.
        </p>
        <footer>
            —Shunryū Suzuki,
            <cite>Zen Mind, Beginner’s Mind</cite>
        </footer>
    </blockquote>
</div>

<div id="beginners">
    <h2>
        Beginners Forever
    </h2>
    <p>
        <strong style="color: black;">Shoshin</strong> is the concept of <em>beginner’s mind</em> in
        Zen Buddhism. A beginner’s mind is open to all possibilities and
        thus capable of better learning. In the beginner’s mind there is no
        sense of internal achievement. Instead, there is curiosity to
        understand. In the beginner’s mind there is no judgement: there is no
        preconception of how things should be — thus there can be no judgement.
    </p>
    <p>
        The book that introduced this concept to the West is <em>Zen Mind, Beginner’s Mind</em>,
        written in 1970 by
        Shunryū Suzuki, the founder of San Francisco Zen Center and a key figure
        in Western Buddhism.
    </p>
    <p>
        The concept of shoshin — beginner’s mind — is the foundation of Shoshin College.
    </p>
</div>

{% endblock content %}
